
@if (productResource.status() == 'loading') {
  <div class='flex justify-center items-center h-screen'>
    <span class='loading loading-spinner loading-lg'></span>
  </div>
}

<!-- Product -->
 @if (productResource.status() == 'resolved') {
  <div class='grid grid-cols-1 sm:grid-cols-2 gap-8 mt-10'>
    
    <product-slider [images]="productResource.value()?.images ?? []" />
    
    <div>
      <h2 class='text-2xl font-bold font-montserrat'>
          {{ productResource.value()?.title }}
      </h2>

      <div class='divider'></div>

      <p>{{ productResource.value()?.description }}</p>
    </div>
  </div>
 }

 @if (productResource.status() == 'error') {
  <h1>There was an error</h1>
 }