
@if (productResource.status() == 'loading') {
  <div class='flex justify-center items-center h-screen'>
    <span class='loading loading-spinner loading-lg'></span>
  </div>
}

<!-- Product -->
 @if (productResource.status() == 'resolved') {
  <div class='grid grid-cols-1 sm:grid-cols-2 gap-8 mt-10'>
    
    <product-slider [images]="productResource.value()?.images ?? []" />
    
    <div>
      <h2 class='text-2xl font-bold font-montserrat'>
          {{ productResource.value()?.title }}
      </h2>

      <div class='divider'></div>

      <p>{{ productResource.value()?.description }}</p>
    </div>
  </div>
 }

 @if (productResource.status() == 'error') {
  <div class="fixed top-40 left-1/2 transform -translate-x-1/2 z-50 w-[70%] sm:w-1/2">
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error! Something went wrong</span>
    </div>
  </div>
 }