
<h1 class='text-3xl font-bold font-montserrat'>All products {{currentPage()}}</h1>
<h2 class='text-xl'>For all tastes</h2>

@switch (productsResource.status()) {
  @case ('loading') {
    <div class='flex justify-center mt-20'>
      <span class="loading loading-bars loading-xl"></span>
    </div>
  }
  @case ('error') {
    <div class="fixed top-40 left-1/2 transform -translate-x-1/2 z-50 w-[70%] sm:w-1/2">
      <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Error! Something went wrong</span>
      </div>
    </div>
  }
  @case ('resolved') {
    @if ((productsResource.value()?.products?.length ?? 0) > 0) {
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-8 gap-3'>
        @for (product of productsResource.value()?.products; track product.id) {
          <product-card [product]="product" />
        }
      </div>
    }
    @else {
      <p class='text-center text-lg mt-4'>No products found</p>
    }
  }
  @default {
    <p class='text-center text-lg mt-4'>No products found</p>
  }
}

<pagination [totalPages]="productsResource.value()?.pages ?? 0"  [currentPage]="currentPage()"/>

